/* styles/DoctorProfile.module.css */
.profileContainer {
  background-color: var(--bg-color);
  padding: var(--spacing-large);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  width: 90%; /* Responsive width for smaller screens */
  max-width: 800px; /* Maximum width for larger screens */
  margin: 0 auto;
}
.profileContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--spacing-medium);
}

/* Typography */
.profileContainer h2 {
  font-size: var(--font-size-h2);
  margin-bottom: var(--spacing-medium);
  color: var(--text-color);
}

.profileContainer p {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  margin-bottom: var(--spacing-small);
  color: var(--text-color);
}

/* Buttons */
.profileContainer button {
  background-color: var(--primary-color);
  color: var(--text-color-light);
  padding: var(--spacing-small) var(--spacing-medium);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: bold;
  margin-top: var(--spacing-medium);
  transition: background-color 0.2s;
}
.profileContainer button:hover {
  background-color: #0062cc; /* Slightly darker on hover */
}
/* Form */
.profileContainer form {
  /* Style for the edit form */
  display: grid;
  grid-gap: var(--spacing-small);
}

.profileContainer form label {
  font-weight: bold;
}

.profileContainer form input,
.profileContainer form textarea {
  padding: var(--spacing-xsmall);
  border: 1px solid var(--neutral-light);
  border-radius: var(--border-radius);
}
