/* styles/About.module.css */

.aboutContainer {
  background-color: var(--bg-color);
  padding: var(--spacing-large);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  width: 90%; /* Responsive width */
  max-width: 960px; /* Maximum width for larger screens */
  margin: 0 auto;
}

.aboutTitle {
  font-size: var(--font-size-h2);
  margin-bottom: var(--spacing-medium);
  color: var(--text-color);
  text-align: center;
}

.aboutSection {
  margin-bottom: var(--spacing-large);
}

.sectionTitle {
  font-size: var(--font-size-h3);
  margin-bottom: var(--spacing-small);
  color: var(--text-color);
}

.aboutSection p {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--text-color);
}
