.contactContainer {
  background-color: var(--bg-color);
  padding: var(--spacing-large);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  width: 90%; /* Responsive width for smaller screens */
  max-width: 600px; /* Maximum width for larger screens */
  margin: 0 auto; /* Center the container */
}

.contactTitle {
  font-size: var(--font-size-h2);
  margin-bottom: var(--spacing-medium);
  color: var(--text-color);
  text-align: center; /* Center the title */
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.formGroup label {
  display: block;
  margin-bottom: var(--spacing-xsmall);
  font-weight: bold;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: var(--spacing-xsmall);
  font-size: var(--font-size-base);
  border: 1px solid var(--neutral-light);
  border-radius: var(--border-radius);
  background-color: var(--bg-color-light);
}

.submitButton {
  background-color: var(--primary-color);
  color: var(--text-color-light);
  padding: var(--spacing-small) var(--spacing-medium);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.submitButton:hover {
  background-color: #0062cc;
}
