.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-large);
  background-color: var(--bg-color);
  min-height: 100vh; /* Ensure it fills the viewport */
}

.title h1 {
  font-size: var(--font-size-h1);
  margin-bottom: var(--spacing-medium);
  color: var(--text-color);
}

.recordFormTitle h2 {
  font-size: var(--font-size-h2);
  margin-bottom: var(--spacing-small);
  color: var(--text-color);
}

/* Form Styles */
.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-medium);
  width: 100%; /* Make form elements full width on mobile */
}

.formGroup label {
  font-weight: bold;
  margin-bottom: var(--spacing-xsmall);
}

.formGroup select,
.formGroup textarea,
.formGroup input[type="text"] {
  /* Add styles for input types if needed */
  padding: var(--spacing-xsmall);
  font-size: var(--font-size-base);
  border: 1px solid var(--neutral-light);
  border-radius: var(--border-radius);
  background-color: var(--bg-color-light);
}

.formGroup textarea {
  min-height: 100px;
  resize: vertical;
}

.saveButton button {
  /* Style the Create Record button */
  background-color: var(--primary-color);
  color: var(--text-color-light);
  padding: var(--spacing-small) var(--spacing-medium);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: bold;
  margin-top: var(--spacing-small);
  width: 100%;
  transition: background-color 0.2s;
}

.saveButton button:hover {
  background-color: #0062cc;
}

/* Error Message */
.error {
  color: var(--error-color);
  margin-bottom: var(--spacing-medium);
}

.doctorProfile {
  margin-bottom: var(--spacing-large);
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
  }

  .formGroup {
    flex: 1;
    max-width: 50%;
  }

  .recordForm {
    margin-left: var(--spacing-large);
  }
}
