.footerContainer {
  background-color: var(--bg-color-light);
  color: var(--text-color-light); /* Light text for contrast */
  padding: var(--spacing-medium);
  text-align: center;
}

.footerContainer p {
  font-size: 0.9rem; /* Slightly smaller font size */
  margin: 0; /* Remove default margin */
}
