/* styles/Header.module.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #200202;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    color: #0275d8;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

.navLinks {
    display: flex;
    align-items: center;
}

.navLinks a {
    margin: 0 15px; /* Adjusted margin */
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover, .nav-links a:focus {
    background-color: #f2f2f2;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        margin-top: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links a {
        margin: 5px 0;
        width: 100%;
    }
}
