/* styles/SignupForm.module.css */
.signupForm {
  background-color: var(--bg-color); /* Match the main background color */
  border: 1px solid var(--neutral-light);
  padding: var(--spacing-large);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  width: 350px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the form horizontally */
}

.formGroup {
  margin-bottom: var(--spacing-medium);
}

.formGroup label {
  display: block;
  margin-bottom: var(--spacing-xsmall);
  font-weight: bold; /* Emphasize labels */
}

.formGroup input[type="text"],
.formGroup input[type="email"],
.formGroup input[type="password"],
.selectInput {
  /* Style for select inputs */
  width: 100%;
  padding: var(--spacing-xsmall);
  font-size: var(--font-size-base);
  border: 1px solid var(--neutral-light);
  border-radius: var(--border-radius);
  appearance: none; /* Remove default styles for select */
  background-color: var(--bg-color);
  color: var(--text-color);
}

.formGroup select:focus {
  outline: none;
  border-color: var(--primary-color);
}

.errorInput {
  /* Style for inputs with errors */
  border-color: var(--error-color);
}

.errorText {
  color: var(--error-color);
  margin-bottom: var(--spacing-small);
  font-size: 0.8rem; /* Make error text slightly smaller */
}

.successText {
  color: var(--accent-color);
  margin-bottom: var(--spacing-small);
}

.submitButton {
  background-color: var(--primary-color);
  color: var(--text-color-light);
  padding: var(--spacing-xsmall) var(--spacing-medium);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  transition: background-color 0.2s;
}

.submitButton:hover {
  background-color: #0062cc;
}
